<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Quiz App</h5>
  <nav class="my-2 my-md-0 mr-md-3">
  </nav>
  <a class="btn btn-outline-primary" href="#" (click)="logout($event)">Logout</a>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" *ngIf="!isStarted">
  <h2 class="ff-headers text-uppercase mb-3 fw-600">Start Quiz</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title text-uppercase">Quiz 1</h6>
          <p class="card-text">Total number of questions 10</p>
          <a href="#" class="btn btn-primary" (click)="startQuiz($event)">Start</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" *ngIf="isSubmitted">
  <h2 class="ff-headers text-uppercase mb-3 fw-600">Quiz</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title text-uppercase">Quiz Completed !!</h6>
          <p class="card-text">Attempted: {{quizResult?.attempted}}/{{quizResult?.totalQuestions}}</p>
          <p class="card-text">Correct: {{quizResult?.correct}}</p>
          <p class="card-text">wrong: {{quizResult?.wrong}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center" *ngIf="isStarted">
    <div class="card">
      <div class="card-header">
        <legend class="col-form-legend">({{activeQ + 1}}) {{currentQ.text}}</legend>
      </div>
        <div class="card-body">
            <fieldset class="form-group row">
              <div class="col-sm-10">
                <div class="form-check" *ngFor="let item of currentQ.choices">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [(ngModel)]="quizInfo[activeQ].ans"  [value]="item.id">
                    {{item.text}}
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary" (click)="previousClick()" *ngIf="activeQ != 0">Previous</button> &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary" (click)="nextClick()" *ngIf="quizInfo.length != activeQ + 1">Next</button> &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary" (click)="submitClick()" *ngIf="quizInfo.length == activeQ + 1">Submit</button>
              </div>
            </div>
        </div>
      </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    
  </footer>
</div>
